<div class='wrapper_top'>Welcome to R.I.S.H.</div>
<ul>
  <li>Rental of Items for Services within your Household </li>
  <li>Save money by renting</li>
  <li>Hassle-free rental from anywhere</li>
  <li>Got stuff to rent? Then rent them out and make money</li>
  <li>Track and Manage your stuff with ease</li>
</ul>

<div class='wrapper_bottom'>
  <a href="/categories" class="book_button">Look at what you can rent</a>
</div>
