<div class="left-aligning">
<h1>R.I.S.H – Rental Item Services Household</h1>
<p>
RISH is a localised web site service that allows household owners to post items that
they are willing to share with others.

There is no limit as to what you are willing to share, it can range from anthyting
from electronics, audio visual items, Computer games, furniture, appliances,
your lawn mower, boat, trailer, caravan, power tools, beach equipement, garage space,
 etc.

The purpose is to share your stuff with others that only have a temporary need
for your items.

At RISH we keep it simple, we give you total control over your items,
you choose the days you want your items rented, the rental cost, and RISH
will handle the posting and money transaction.
</p>
<h1>Our vision</h1>
<p>
At RISH we are committed to providing a service to the community that allow household
owners to share their items with others that have a temporary need for that item.
By sharing the item, money can be made by the owner, meanwhile money is also saved by
the rentor.
</p>

<h1>Your Community</h1>
<p>
RISH will allow you to post services that you are prepared to do,
for example you can advertise you have free time on Monday's to help with gardening duties,
do house sitting or mail pickup while they are away,
or you cook home meals for your family and you are willing to cook extra for pickup after work.
</p>

</div>
