// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper_top {
  margin-top: 60px;
  // width: 100%;
  //margin: 0 auto;
  // position: fixed;
  background: ghostwhite;
}
.wrapper_bottom {
  margin-bottom: 70px;
  // width: 100%;
  //margin: 0 auto;
  // position: fixed;
  background: ghostwhite;
}
